.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}
.barlow-condensed-thin {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.barlow-condensed-regular {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-bold {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* MENU SANDWICH */
.sandwich_icon::after,
.sandwich_icon::before,
.sandwich_icon span {
  content: "";
  width: 30px;
  background: #abafd0;
  height: 4px;
  display: block;
  margin-bottom: 8px;
  transition: .3s;
}
/* MENU SANDWICH */

.sandwich_icon.active span {
  display: none;
}
.sandwich_icon.active::after {
  transform: rotate(130deg);
  position: relative;
  bottom: 5px;
}
.sandwich_icon.active::before{
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}
.container_carousel {
  max-width: 1248px;
}
.container_carousel .item {
  max-width: 1248px;
}

.texts_carousel{
  font-size: 20px;
  line-height: 30px;
  
}